body{
    background-color:gray;
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
}
label{
     color: black;
     font-size: 30px;
}
input{
    color: white;
    background-color: gray;
} 
button{
    background-color: black;
    color: green;
}